.demo-1 {
	--button-border-radius: 7px;
	--button-bg: #d8d4cf;
	--button-stroke: #d8d4cf;
	--button-stroke-width: 1px;
	--button-text: #000;
	--button-bg-hover: #d8d4cf;
	--button-stroke-hover: #000;
	--button-stroke-width-hover: 2px;
	--button-text-hover: #000;
	--cursor-stroke: #000;
    --cursor-fill: #000;
    --cursor-stroke-width: 1px;
	
}

